a {
  color: #000 !important;
  text-decoration: none;
}
body {
  max-width: 880px;
  height: 1500px;
  margin: 0 auto;
  background-color: #ffffff;
  font-family: 'Roboto', sans-serif;
}
.nav {
  position: absolute;
  z-index: 1000;
  background-color: #6b9999;
  width: 280px;
  top: 0px;
  margin-left: 50px;
  height: 1500px;
  color: white;
}
.nav img {
  border: solid #ffffff 5px;
  margin: 40px 25px 20px 25px;
  width: 220px;
  height: 220px;
  border-radius: 50%;
}
.header-content {
  display: flex;
  flex-direction: column;
  background-color: #ebc9bb;
  height: 220px;
  text-align: left;
  margin: 25px auto 0 auto;
}
.header-content p {
  margin-left: 380px;
  font-size: 20px;
}
.header-content p:first-child {
  margin-top: 70px;
  margin-bottom: 0px;
  font-weight: 800;
  font-size: 30px;
}
.header-point {
  font-weight: 800;
  font-size: 20px;
  text-align: center;
}
ul li {
  list-style-type: none;
  font-size: 15px;
  width: 200px;
  margin-bottom: 20px;
}
.contact {
  margin-top: 50px;
}

.education {
  margin-top: 80px;
}
.arrow {
  color: #6b9999;
  font-size: 30px;
}
.content section ul li {
  width: 450px;
}
.content {
  margin-left: 380px;
}
.profile,
.language,
.experience,
.projects {
  margin-top: 75px;
}
